<div class="row">
    <div class="col col-12 col-sm-4">

    </div>
    <div class="col col-12 col-sm-4">
        <form action="">
                <table class="table">
                        <tr>
                            <td>Course Title</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                                <td>Course Description</td>
                                <td>
                                    <textarea name="" cols="30" rows="5" class="form-control"></textarea>
                                </td>
                        </tr>
                        <tr>
                                <td>Course Duration</td>
                                <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                                <td>Venue</td>
                                <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                                <td>DoB</td>
                                <td><input type="date" class="form-control"></td>
                        </tr>
                        
                        <tr>
                                <td></td>
                                <td><Button class="btn btn-secondary">Submit</Button></td>
                        </tr>
                    </table>
    
        </form>
           
    </div>
    <div class="col col-12 col-sm-4">

    </div>
</div>
